<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Payments</title>
    <link rel="stylesheet" href="bill.css">
    <link rel="icon" href="/My-App/Clinical-Ui/favicon.jpg">
</head>
<body>

<div class="bill-container">

    <div class="card">

       <a href="#">
        <div class="p-records">
            <img src="/My-App/Clinical-Ui/components/bill/images/records.png" alt="records-icon">
            <h1>Payment Records</h1>
        </div>
       </a>

       <a href="#">
        <div class="p-methods">
            <img src="/My-App/Clinical-Ui/components/bill/images/methods.png" alt="methods-icon">
            <h1>Payment Methods</h1>
        </div>
       </a>

       <a href="#">
        <div class="invoice">
            <img src="/My-App/Clinical-Ui/components/bill/images/invoice.png" alt="inovice-icon">
            <h1>Invoice Management</h1>
        </div>
       </a>



    </div>




</div>
















    <script src="bill.js"></script>
</body>
</html>