<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Management</title>
    <link rel="stylesheet" href="appoinment.css">
    <link rel="icon" href="/My-App/Clinical-Ui/favicon.jpg">
</head>
<body>
    
    <div class="appointment-container">

        <div class="card">

            <a href="#">
                <div class="sf">
                    <img src="/My-App/Clinical-Ui/components/appointment/images/sf.png" alt="sf-icon">
                    <h1>Search & Filter</h1>
                </div>
            </a>

            <a href="#">
                <div class="calender">
                    <img src="/My-App/Clinical-Ui/components/appointment/images/calender.png" alt="calender-icon">
                    <h1>Calender View</h1>
                </div>
            </a>

            <a href="#">
                <div class="communication">
                    <img src="/My-App/Clinical-Ui/components/appointment/images/communication.png" alt="communication-icon">
                    <h1>Patient Communication</h1>
                </div>
            </a>

            <a href="#">
                <div class="details">
                    <img src="/My-App/Clinical-Ui/components/appointment/images/details.png" alt="details-icon">
                    <h1>Appointment Details</h1>
                </div>
            </a>


        </div>



    </div>













    <script src="appointment.js"></script>
</body>
</html>