<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="profileP.css">
    <link rel="icon" href="/My-App/Patient-Ui/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>


    <div class="profileP-container">

    
        <div class="pbox">
            
            <div class="p-image">
                <img src="/My-App/Patient-Ui/components/profileP/images/Profile.png" alt="profile">
            </div>

            <div class="cards">

                <a href="#">
                    <span class="p-info"> 
                       Personal info
                       <i class="fas fa-user-circle"></i>
                    </span>
                </a>

                <a href="#">
                    <span class="setting"> 
                        Settings
                        <i class="fas fa-cog"></i>
                    </span>
                </a>

                <a href="#">
                    <span class="s-help"> 
                        Support / Help
                        <i class="fas fa-question-circle"></i>
                    </span>
                </a>

                <a href="#">
                    <span class="about"> 
                        About Us
                        <i class="fas fa-info-circle"></i>
                    </span>
                </a>

                <a href="/My-App/user-auth/LoginBoth/login.html">
                    <span class="logout"> 
                        Log Out
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                </a>

            </div>


        </div> 



    </div>




    <script src="profileP.js"></script>
</body>
</html>