<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinical Dashboard</title>
    <link rel="icon"  href="/My-App/Clinical-Ui/favicon.jpg">
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>


    <div class="dashboard-container">

        <div class="card">

           <a href="#">
            <div class="quick-action">
                <img src="/My-App/Clinical-Ui/components/dashboard/images/quick-action.png" alt="action-icon">
                <h1>Quick Actions</h1>
            </div>
           </a> 

           <a href="#">
            <div class="notifications">
                <img src="/My-App/Clinical-Ui/components/dashboard/images/notifications.png" alt="notify-icon">
                <h1>Notifications</h1>
            </div>
          </a> 

          <a href="#">
            <div class="upcoming-appointment">
                <img src="/My-App/Clinical-Ui/components/dashboard/images/appoinments.png" alt="upcoming-icon">
                <h1>Upcoming  Appointments</h1>
            </div>
          </a> 

          <a href="#">
            <div class="today-appointment">
                <img src="/My-App/Clinical-Ui/components/dashboard/images/today.png" alt="today-icon">
                <h1>Today Appoinments</h1>
            </div>
          </a> 

        </div>

    </div>
    
    <script src="dashboard.js"></script>
</body>
</html>