<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging and Notify</title>
    <link rel="stylesheet" href="message.css">
    <link rel="icon" href="/My-App/Clinical-Ui/favicon.jpg">
</head>
<body>

    <div class="message-container">

        <div class="card">

           <a href="#">
                <div class="m-system">
                    <img src="/My-App/Clinical-Ui/components/message/images/messaging.png" alt="m-system-icon">
                    <h1>Messaging System</h1>
                </div>
           </a>

           <a href="#">
            <div class="r-reminder">
                <img src="/My-App/Clinical-Ui/components/message/images/reminder.png" alt="reminder-icon">
                <h1>Automated Reminders</h1>
            </div>
           </a>

           <a href="#">
              <div class="b-notify">
                <img src="/My-App/Clinical-Ui/components/message/images/broadcast.png" alt="broadcast-icon">
                <h1>Broadcast Notification</h1>
              </div>
           </a>

        </div>


    </div>


    
    <script src="message.js"></script>
</body>
</html>