<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="icon" href="/My-App/Clinical-Ui/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>


    <div class="profile-container">

 
        <div class="box">
            
            <div class="p-image">
                <img src="/My-App/Clinical-Ui/components/profile/images/Profile.png" alt="profile">
            </div>

            <div class="cards">

                <a href="#">
                    <span class="profile-cards"> 
                        Clinic Profile 
                        <i class="fas fa-hospital"></i>
                    </span>
                </a>

                <a href="#">
                    <span class="profile-cards"> 
                        Doctors Profile 
                        <i class="fas fa-user-md"></i>
                    </span>
                </a>

                <a href="#">
                    <span class="profile-cards"> 
                        Patients Profile 
                        <i class="fas fa-user-injured"></i>
                    </span>
                </a>

            </div>


        </div> 


    </div>












    <script src="profile.js"></script>
</body>
</html>