<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Analytics</title>
    <link rel="stylesheet" href="report.css">
    <link rel="icon" href="/My-App/Clinical-Ui/favicon.jpg">
</head>
<body>


    <div class="report-container">

        <div class="card">

            <a href="#">
                <div class="app">
                    <img src="/My-App/Clinical-Ui/components/reportAnalytics/images/app.png" alt="app-icon">
                    <h1>App Statistics</h1>
                </div>
            </a>

            <a href="#"></a>
                <div class="analytics">
                    <img src="/My-App/Clinical-Ui/components/reportAnalytics/images/analytics.png" alt="analytics-icon">
                    <h1>Patient Analytics</h1>
                </div>
            </a>

            <a href="#"></a>
                <div class="reports">
                    <img src="/My-App/Clinical-Ui/components/reportAnalytics/images/reports.png" alt="reports-icon">
                    <h1>Financial Reports</h1>
                </div>
            </a>


        </div>



    </div>











    <script src="report.js"></script>
</body>
</html>