
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Style for the container */

.report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.report-container  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50%;
    gap: 15px;
    background: none;
}

.report-container  .card div {
    padding: 70px;
    border-radius: 20px;
    background-color: #E6F0FA;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.report-container  .card a {
    text-decoration: none;
    width: 100%;
}


.report-container .card  h1 {
    color: #333;
    font-size: 16px;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 15px;
    background: #74a4e3;
    box-shadow: 0 4px 4px rgba(6, 6, 6, 0.45); 
    transition: transform o.3s ease-in-out;
}

.report-container .card div h1:hover{
    background: #99c0f2;
}

.report-container  .card div:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 15px rgba(212, 154, 109, 0.297); 
    background-color: #B0C4DE; 
}


.card div img {
    max-width: 100px; 
    margin-bottom: 10px; 
    border-radius: 20px;
}


/* Small screens (Tablets, large phones) */
@media (max-width: 768px) {
    .report-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px 10px;
        overflow-y: auto; 
    }

    .report-container   .card {
        flex-direction: column;
        justify-content: flex-start;
        background: none;
        gap: 20px; 
        width: 100%; 
    }

    .report-container  .card div {
        background-color: #E6F0FA;
        width: 100%; 
        padding: 30px; 
        box-sizing: border-box;
    }

    .card div h1 {
        font-size: 18px; 
    }
}

/* Extra small screens (Mobile devices) */
@media (max-width: 480px) {
   .report-container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5px;
        overflow-y: auto; 
    }

    .report-container .card {
        flex-direction: column;
        justify-content: flex-start;
        background: none;
        gap: 10px;
        width: 100%; 
    }

    .report-container .card div {
        background-color: #E6F0FA;
        width: 100%; 
        padding: 10px; 
        box-sizing: border-box;
    }

    .card div h1 {
        font-size: 16px; 
    }
}

