<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Records</title>
    <link rel="stylesheet" href="patient.css">
    <link rel="icon" href="/My-App/Clinical-Ui/favicon.jpg">
</head>
<body>
    
       <div class="patient-container">

           <div class="card">

                <a href="#">
                    <div class="profile">
                        <img src="/My-App/Clinical-Ui/components/patient/Images/patient-profile.png" alt="profile-icon">
                        <h1>Patient Profile</h1>
                    </div>
                </a>

                <a href="#">
                    <div class="add">
                        <img src="/My-App/Clinical-Ui/components/patient/Images/add-records.png" alt="add-icon">
                        <h1>Add Records</h1>
                    </div>
                </a>

                <a href="#">
                    <div class="edit">
                        <img src="/My-App/Clinical-Ui/components/patient/Images/edit-records.png" alt="edit-icon">
                        <h1>Edit Records</h1>
                    </div>
                </a>

                <a href="#">
                    <div class="upload">
                        <img src="/My-App/Clinical-Ui/components/patient/Images/document-upload.png" alt="upload-icon">
                        <h1>Document Upload</h1>
                    </div>
                </a>


           </div>


       </div>


</body>
</html>